{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
     "linebreak-style": [2,"windows"],
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "arrow-parens": 0,
     "jsx-a11y/anchor-has-content": [0, ['']]
  }
}